---
import Layout from '../layouts/Layout.astro';
import { Heading } from '@utrecht/component-library-react';
import { Document } from '@utrecht/component-library-react/dist/css-module';
---

<Layout title="Welcome to Astro.">
	<main style="padding: 8rem;">
		<Document client:load>
			<Heading level="1" client:load>Gemeente Tilburg Utrecht Heading</Heading>
		</Document>
	</main>
</Layout>
