---
import Layout from '../layouts/Layout.astro';
import { Heading } from '@utrecht/component-library-react';
import { Document } from '@utrecht/component-library-react/dist/css-module';
---

<Layout title="Welcome to Astro.">
	<main>
		<Document>
			<Heading level="1">Gemeente Tilburg</Heading>
		</Document>
	</main>
</Layout>
